# Ficheiros de Configuração Secreta (API Keys)
config.js
.env
google-credentials.json

# Logs e Cache de Desenvolvimento
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db